Source: xe-guest-utilities
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Section: admin
Priority: optional
Build-Depends: debhelper-compat (= 12),
               dh-golang,
               gawk,
               golang-go,
               golang-golang-x-sys-dev
Standards-Version: 4.5.0
Vcs-Browser: https://git.launchpad.net/~ubuntu-core-dev/ubuntu/+source/xe-guest-utilities
Vcs-Git: https://git.launchpad.net/~ubuntu-core-dev/ubuntu/+source/xe-guest-utilities
Homepage: https://launchpad.net/ubuntu/+source/xe-guest-utilities
XS-Go-Import-Path: github.com/xenserver/xe-guest-utilities

Package: xe-guest-utilities
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: daemon for monitoring Xen Virtual machines
 xe-daemon for monitoring Virtual Machines on a Xen Hypervisor.
 .
 Writes distribution version information, disk and networking
 statistics to XenStore.
