Source: xe-guest-utilities
Section: admin
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Homepage: https://launchpad.net/ubuntu/+source/xe-guest-utilities
Standards-Version: 4.1.4
Build-Depends: debhelper (>= 10), gawk, golang-go, dh-golang, golang-golang-x-sys-dev
Vcs-Browser: https://git.launchpad.net/~ubuntu-core-dev/ubuntu/+source/xe-guest-utilities
Vcs-Git: https://git.launchpad.net/~ubuntu-core-dev/ubuntu/+source/xe-guest-utilities
XS-Go-Import-Path: github.com/xenserver/xe-guest-utilities

Package: xe-guest-utilities
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: daemon for monitoring Xen Virtual machines
 xe-daemon for monitoring Virtual Machines on a Xen Hypervisor.
 .
 Writes distribution version information, disk and networking
 statistics to XenStore.
